@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,600;0,900;1,100;1,200&display=swap');

:root {
    ---DarkBckrnd:#1f2937;
   ---Button:#3882f6;
    ---Quote:#e5e7eb;
    ---txtcolr:#f9faf8;
}

*{
    padding: 0;
    margin: 0;
}

body{font-family:poppins;}
.header {
   display: flex;
   flex-direction: column;
    background-color: var(---DarkBckrnd)
}
img {
    width: auto;
    height: 5%;
}

.Navbar{
    display: flex;
    justify-content: space-between;
}
.Navbar img {width: 150px;
    margin-top: -20px;
    margin-left : 20px;}

.Navbar .logIn {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-right: 30px;
    padding-top: 20px;
}
.Navbar .logIn .SignUp, .SignIn, .faq{
    font-size: 18px;
    color: var(---txtcolr);
}

.banner{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 100px;
}
.banner .info h1 {
    font-size: 48px;
    color: var(---txtcolr);
    width: 500px;
}
.banner .info{
    margin: 20px 200px;
    width: 500px;
}

p{
    color: var(---txtcolr);
    font-size: 18px;
    margin-bottom: 30px;
    margin-top: 30px;
}

button.firstButton{
    background-color: var(---Button);
    padding: 10px 22px;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    color: var(---txtcolr);
    font-weight: 200;
}

.image1 {display: flex;
justify-content: center;
align-items: center;}

.banner img {
    max-width: 100%;
    height: auto;
    margin-right :300px; ;
}

.InfoSection {
    margin: 50px 0
}
.InfoSection h1 {
text-align: center;
margin: 50px 0;
text-transform: uppercase;
font-size: 32px;
}

.cards{display: flex;
justify-content: center;}

.card1{display: flex;
flex-direction: column;
align-items: center;}

.card1 .cardOne {
    border: 2px solid var(---Button);
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.card1 .cardOne img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.card1 h2 {font-size: 22px;
text-transform: uppercase;
font-weight: 600;
margin-top: 10px;}

.card1 p{font-size: 18px;
color: var(---DarkBckrnd);
text-align: center;
margin: 10px;
padding: 10px;}

.card1 a{
    text-decoration: none;
    
}
.card1 button{
    border: 2px solid var(---Button);
    padding: 10px;
    border-radius: 10px;
}
.card1 button:hover{
    background-color: var(---Button);
}

.quote {
    display: flex;
    background-color: var(---Quote);
    justify-content: center;
    align-items: center;
}
.quote p{
    color: var(---DarkBckrnd);
    width: 50%;

}
